@import './header.css';
.navigation__info {
  background-color: var(--bg-color);
}
.navigation__content ul li:nth-child(2) {
  border-bottom: 1px solid var(--main-font-light);
}
.trips {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10rem 0;
  gap: 3rem;
}

.trips__search {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 3rem;
  width: 25rem;
  border: 2px solid var(--bg-color);
}
.trips__search > button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
  border: none;
  width: 15%;
}
.trips__search > input {
  background: transparent;
  border: none;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  color: var(--main-font-dark);
}
.trips__search > button i {
  color: var(--main-font-light);
  font-size: 1.5rem;
  font-weight: 500;
}
.trips__list {
  width: 100%;
}
.trips__table {
  border-collapse: collapse;
  width: 100%;
}
.trips__table th,
td {
  font-family: var(--main-font);
  font-size: 1.25rem;
  width: auto;
  height: 5rem;
  color: var(--main-font-dark);
  text-align: left;
  padding: 0 2rem;
}
.trips__table th {
  background-color: #eefafc;
  font-weight: 600;
  color: var(--main-font-dark);
  width: auto;
}
.trips__table td,
th {
  font-weight: 400;
  padding: 0 1rem;
}
.trips__table td img {
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  border: 2px solid var(--border-color);
  margin: 1rem auto;
  border-radius: 50%;
}
.trips__table tr:nth-child(even) {
  background-color: #eefafc;
}
@media only screen and (max-width: 768px) {
  .trips__table th,
  td {
    padding: 0.25;
  }
  .trips__list {
    overflow: auto;
  }
  .trips__search {
    width: 100%;
  }
}
