footer {
  background-color: var(--bg-color);
  height: 25rem;
  padding: 3rem 0;
  width: 100%;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  gap: 4rem;
}

.footer__icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 3rem;
  width: 100%;
}
.footer__icons > li a {
  color: var(--main-font-light);
  font-size: 2rem;
}
.footer__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--main-font-light);
  width: 100%;
  height: 100%;
}

.footer__pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 100%;
  gap: 2rem;
}
.footer__pages > li a {
  color: var(--main-font-light);
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: 400;
}
@media only screen and (max-width: 425px) {
  .footer__logo {
    display: none;
  }
  .footer__pages {
    justify-content: center;
  }
}
