.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  background-color: var(--bg-color);
  z-index: 2;
}
.navigation__hamburger {
  display: none;
  background-color: var(--bg-color);
}
.navigation__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 15rem;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.logo i {
  color: var(--main-font-light);
  font-size: 2rem;
  transition: color 1s ease;
}
.logo p {
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: 400;
  word-wrap: break-word;
  color: var(--main-font-light);
  text-transform: uppercase;
  transition: color 1s ease;
}
.logo > :hover {
  color: var(--hover-color);
}
.navigation__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.navigation__list input {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0rem;
  width: 3rem;
  height: 3rem;
  opacity: 0;
  z-index: 6;
}
.navigation__list li:last-child {
  position: relative;
}
.navigation__list li:last-child i {
  font-size: 3rem;
}

.navigation__sublist {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  left: -15.3rem;
  z-index: 5;
  background-color: var(--bg-color-light);
  border: 2px solid var(--border-color);
  border-radius: 15px;
  margin-top: 1.25rem;
  width: 18rem;
  height: 10rem;
}
.navigation__sublist li {
  display: flex;
  justify-content: center;
  width: 100%;
}
.navigation__sublist li a {
  width: 80%;
}
.navigation__list input:checked ~ .navigation__sublist {
  display: flex;
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}
.navigation__sublist {
  display: none;
}
.navigation__list li > a {
  font-size: 1rem;
  font-family: var(--main-font);
  font-weight: 500;
  color: var(--main-font-light);
}

header {
  position: relative;
  width: 100%;
  height: fit-content;
  background-color: var(--bg-color);
}
.header__home {
  height: 100vh;
  background-image: url('../img/header_img.jpg');
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  width: 100%;
  padding: 3% 0;
}
.header__home ul li:first-child {
  border-bottom: 1px solid var(--main-font-light);
}
.header__home .header__content {
  margin-top: 6rem;
}
.header__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
  width: 100%;
  height: 70%;
}
.header__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: auto;
  gap: 2rem;
  width: 50%;
}
.header__info h1 {
  font-family: var(--main-font);
  font-size: 3rem;
  color: var(--main-font-light);
  margin-bottom: 3rem;
}

.header__buttons {
  display: flex;
  justify-content: start;
  width: 100%;
  gap: 2.5rem;
}
.header__buttons > .btn {
  width: 11.5rem;
  height: 3.5rem;
  border: 1.5px solid var(--border-color);
}

@media only screen and (max-width: 1200px) {
  .header__info h1 {
    font-size: 3.5rem;
  }
  .header__btn {
    width: 5rem;
    height: 3rem;
  }
  .navigation__info {
    padding: 0 5rem;
  }
}
@media only screen and (max-width: 920px) {
  .header__home {
    height: fit-content;
  }
  .header__info {
    width: 100%;
    align-items: center;
  }
  .header__info h1 {
    font-size: 3rem;
    text-align: center;
    width: 100%;
    padding: 2rem 0;
  }
  .header__info p {
    text-align: center;
    width: 100%;
  }
  .header__buttons {
    justify-content: center;
  }
}
@media only screen and (max-width: 600px) {
  .navigation {
    display: none;
  }
  .navigation__hamburger {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    background-color: var(--bg-color);
    backdrop-filter: blur(10px);
    z-index: 4;
  }
  .navigation__info {
    position: absolute;
    padding: 0;
    left: 0;
    top: 0;
  }
  .navigation__menu-sm {
    display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  .navigation__menu-sm input {
    display: block;
    position: absolute;
    width: 40px;
    height: 32px;
    cursor: pointer;
    opacity: 0;
    z-index: 5;
    right: 0;
    top: -7px;
  }
  .logo {
    margin-left: 20px;
  }

  .navigation__menu-sm span {
    position: relative;
    display: block;
    width: 33px;
    height: 4px;
    border-radius: 3px;
    background: var(--main-font-light);
    margin-bottom: 5px;
    z-index: 4;
    margin-right: 20px;

    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  .navigation__menu-sm > span:first-child {
    transform-origin: 0% 0%;
  }
  .navigation__menu-sm > span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  .navigation__menu-sm input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: var(--main-font-dark);
  }
  .navigation__menu-sm input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  .navigation__menu-sm input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  .navigation__burger-list {
    position: absolute;
    height: auto;
    background: var(--bg-color-light);

    top: -2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 7rem;
    padding-bottom: 2rem;
    right: -300px;
    width: 300px;
    z-index: 3;
    transition: right 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .navigation__burger-list li {
    padding: 10px 0;
  }
  .navigation__burger-list li > a {
    padding: 10px 0;
    color: var(--main-font-dark);
    font-weight: 600;
  }
  .navigation__menu-sm input:checked ~ ul {
    right: 0;
  }
  .header__btn {
    width: 200px;
    background-color: var(--bg-color);
    color: var(--main-font-light);
  }
  .navigation__burger-list li > .header__btn {
    font-weight: 400;
    color: var(--main-font-light);
  }
}
@media only screen and (max-width: 425px) {
  .header__buttons > .btn {
    font-size: 0.75rem;
  }
}
@media only screen and (max-width: 320px) {
  .header__info h1 {
    font-size: 2rem;
  }
  .header__info p {
    font-size: 1rem;
  }
  .header__buttons {
    flex-direction: column;
    align-items: center;
  }
}
