@import './contact.css';
@import './registration.css';
@import './content.css';
@import './home.css';
@import './footer.css';
.title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Cardo', serif;
  font-size: 3.125rem;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 2rem;
  color: var(--bg-color);
  text-align: center;
  z-index: -1;
}
.title::after {
  content: '';
  position: absolute;
  width: 10rem;
  height: 3px;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: var(--details-color);
  z-index: -1;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-font-light);
  font-size: 1rem;
  width: 8rem;
  height: 3rem;
  background-color: transparent;
  border: none;
  background-color: var(--bg-color);
  text-transform: uppercase;
  transition: transform 1s ease;
  word-wrap: break-word;
}

.btn:hover {
  transform: scale(1.1);
}
.link {
  transition: color 1s ease, font-size 1s ease;
}
.link:hover {
  color: var(--hover-color);
  font-size: 1.25rem;
}
