.trends {
  background-color: rgba(22, 44, 61, 0.1);
  width: 100%;
  padding: 5rem 0;
}

.trends__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  padding: 2rem;
}
.trends__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}
.trends__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
  padding-bottom: 2rem;
  width: min-content;
}
.trends__item > :not(:first-child) {
  padding: 0 auto;
}
.trends__cover {
  height: 26rem;
  width: 22rem;
  overflow: hidden;
}
.trends__cover img {
  width: 100%;
  height: auto;
}
.trends__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.trends__btn {
  width: 100%;
}
.trends__context {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin: 0 2rem;
}
.trends__context p {
  font-weight: 900;
  font-size: 1.5rem;
}
.trends__price {
  color: rgb(255, 202, 66);
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 12px;
  }
  .trends__content {
    justify-content: space-evenly;
    gap: 3rem;
  }
}
@media only screen and (max-width: 920px) {
  .trends__cover {
    height: 20rem;
    width: 18rem;
  }
}
